
.calculator {
    background-color: black;
    width: 400px;
    /*height: 600px;*/
}
section {
    display: block;
}
.top-screen {
    text-align: right;
    color: white;
    font-size: 40px;
    font-family: "Courier New", Courier, monospace;
    padding: 20px 5px;
    width:385px;
    background-color: black;
}
.buttons-all {

}
.button-row {
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    margin-bottom: 0.5%;
}
.button-one {
    width: 24.5%;
    height: 100px;
    font-size: 40px;
    cursor: pointer;
    background-color: #d8d9db;
    border: 0;
}
.double {
    width: 49.7%;
}
.triple {
    width: 74.8%;
}
.row-last {
    background-color: #df974c;
    color: white;
}
.button-one:hover {
    opacity: 80%;
}